<ion-header translucent>
  <ion-toolbar color="dark">
    <ion-title>Pilotos 2025</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="driver-card" button="true">
    <ion-img src="../../assets/Bortoleto.webp"></ion-img>
    <ion-card-header>
      <ion-card-title>Gabriel Bortoleto</ion-card-title>
      <ion-card-subtitle>Brasil 🇧🇷</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Experiente e veloz, Bortoleto lidera a Sauber com sua precisão na pista.
    </ion-card-content>
  </ion-card>

  <ion-card class="driver-card" button="true">
    <ion-img src="../../assets/nicoHulkenberg.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Nico Hulkenberg</ion-card-title>
      <ion-card-subtitle>Alemanha 🇩🇪</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Um grande e experiente piloto alemão na F1, trazendo consistência e habilidade à equipe.
    </ion-card-content>
  </ion-card>

  <ion-card class="driver-card" button="true">
    <ion-img src="../../assets/theo.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Theo Pourchaire</ion-card-title>
      <ion-card-subtitle>França 🇫🇷</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Um jovem e promissor piloto francês na F1, conhecido por sua velocidade e habilidade.
      Porem ainda sem vaga na F1, pois em 2024 ele disputava vaga na sauber com o Borotleto.
      Entretanto o Brasileiro levou a melhor poís foi o campeão da formula 2 no ano de 2024.
      Contudo o piloto francês ainda almeja uma posição na temporada de 2026 (se for bom).
    </ion-card-content>
  </ion-card>
</ion-content>
