<ion-header translucent>
  <ion-toolbar color="dark">
    <ion-title>História da equipe</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list inset>
    <ion-item>
      <ion-label>
        <h2>1993</h2>
        <p>Estreia da Sauber na F1 com motores Mercedes.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>2001-2005</h2>
        <p>Felipe Massa iniciou sua carreira na equipe.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>2010</h2>
        <p>Retorno à F1 com motores Ferrari.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>2024</h2>
        <p>A equipe Americana foi responsável por introduzir
           o primeiro piloto Chinês na F1, Piloto mais conhecido como Guanyu Zhou.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>2025</h2>
        <p style="color: #00ff85;">Stake F1 Team Kick Sauber com Hulkenberg e Gabriel Bortoleto.</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
